@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "GowoonDodum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "BonmyeongjoSourceHanSerif";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

h1 {
  position: fixed;
  bottom: 15rem;
  font-family: "BonmyeongjoSourceHanSerif";
  color: white;
  font-size: 7vw;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
body {
  font-family: "Yidstreet";
  font-weight: bolder;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  background-color: #22212492;
  color: white;
  padding: 15px 25px;
  font-size: 1rem;
  margin-top: 500px;
}

a:hover {
  text-decoration: underline;
}
a:active {
  color: rgb(118, 153, 199);
}
