@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "GowoonDodum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "GowoonDodum";
  line-height: 1.2;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(to top, #bdbdab, #ffffff);
}
.img-container {
  color: rgb(0, 0, 0);
  background-color: #333;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../code/images/Untitled-1.jpg) no-repeat center/cover;
}

ul {
  background-color: #e9e9e9;
  padding: 15px;
  border-radius: 30px;
}
ul a {
  text-decoration: none;
  color: black;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  justify-content: center;
}
nav {
  width: 100%;
  padding: 15px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  z-index: 1000;
  margin-top: 6rem;
}
dl {
  position: fixed;
  left: 100px;
  top: 200px;
  font-size: small;
}

.intro {
  display: flex;
  gap: 20px;
}

.intro img {
  width: 200px;
  height: auto;
  border-radius: 20px;
}

.intro p {
  top: 100px;
  font-size: clamp(14px, 2.5vw, 20px);
  color: #333;
  line-height: 1.6;
  max-width: 400px;
}
main {
  background-color: rgb(255, 255, 255);
  height: 30rem;
  width: 50rem;
  position: fixed;
  top: 210px;
  border-radius: 20px;
  font-family: "GowoonDodum";
  font-size: 25px;
  padding: 18px 30px;
}
.ment {
  display: flex;
  gap: 10px;
  line-height: 1.8;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
  z-index: 999;
}
